html {
  font-size: 14px;
}

body {
  background-color: #F5F5F5
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

ul.nav li a, ul.nav li a:visited {
  /* color: #11BB77 !important; */
  color: #343a40 !important;
}

ul.nav li a:hover, ul.nav li a:active {
  /* color: #11BB77 !important; */
  color: #343a40 !important;
}

ul.nav li.active a {
  /* color: #11BB77 !important; */
  color: #343a40 !important;
}